.directoryBody {
    width: 100em;
    max-width: 75%;
}

.tableAndMap {
    margin-top: 3em;
    margin-bottom: 3em;
}

#map {
    width: 50em;
    height: 52em;
}

/* MUST HAVE CHECKBOX */
#mustHaveCheckbox:hover {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    transition: all 0.30s ease-in-out;
}

input[type=checkbox]:focus {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .25);
}

input[type=checkbox]:checked {
    background-color: #738251;
    border: none;
}

/*FILTERS ABOVE THE TABLE*/
.top {
    display: flex;
}

/* MUST HAVE POPOVER */
.popover-header {
    text-align: center;
}

/*BOTTOM PAGINATION*/
.pagination {
    justify-content: center !important;
}

/*BOTTOM PAGINATION NAVIGATION BUTTONS*/
.page-item.active .page-link {
    background-color: #738251;
    border: none;
}

.page-link, .page-link:hover {
    box-shadow: none !important;
    color: #c45e1d;
}

/* TABLE ROWS */
.directoryBody th{
    cursor: cell !important;
}

.directoryBody tr{
    cursor: pointer;
}